/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjp-Ek-_EeA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/inter/v11/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZBhjp-Ek-_EeAmM.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sora/v10/xMQOuFFYT72X5wkB_18qmnndmSdSnk-DKQRDA8i1P4xdNw.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sora/v10/xMQOuFFYT72X5wkB_18qmnndmSdSnk-NKQRDA8i1P4w.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* nanum-gothic-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nanum-gothic-v17-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('./fonts/nanum-gothic-v17-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nanum-gothic-v17-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nanum-gothic-v17-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nanum-gothic-v17-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nanum-gothic-v17-latin_korean-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* nanum-gothic-700 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/nanum-gothic-v17-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('./fonts/nanum-gothic-v17-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nanum-gothic-v17-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nanum-gothic-v17-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nanum-gothic-v17-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nanum-gothic-v17-latin_korean-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
  font-display: swap
}

/* nanum-gothic-coding-regular - latin_korean */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothicCoding'),
       url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-regular.svg#NanumGothicCoding') format('svg'); /* Legacy iOS */
  font-display: swap;
}

/* nanum-gothic-coding-700 - latin_korean */
@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/nanum-gothic-coding-v14-latin_korean-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothicCoding-Bold'),
       url('./fonts/nanum-gothic-coding-v14-latin_korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/nanum-gothic-coding-v14-latin_korean-700.svg#NanumGothicCoding') format('svg'); /* Legacy iOS */
  font-display: swap;
}